<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
{% block head %}
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}{{ page.name }}'s Portfolio{% endblock title %}</title>
    <link rel="alternate" type="application/atom+xml" href="{{ page.root_path }}/?/feed/">
    <link rel="stylesheet" href="//{{ page.base_url }}/public/docs/css/screen.css" type="text/css" media="screen">
  </head>
{% endblock head %}

{% block content %} 
	<!-- default to be over-written -->
	
	{% block footer %} 
	 <p id="footer" class="col six">&copy; Copyright {{ page.name }} {{ page.current_year }} <a class="atom-rss" href="{{ page.root_path }}/?/feed/">RSS</a><br>
	   <em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>
	{% endblock footer %}
	
{% endblock content %}
</html>
